body {
    font-family: Roboto;
}

header {
    background-color: #1F2937;
    color: #E5E7EB;
}

header ul {
    font-size: 18px;
}

#logo, h1{
    color: #F9FAf8;
}

#logo {
    font-size: 48px;
}
h1, h2{
    font-weight: bolder;
}

h1 {
    font-size: 48px;
}

main p {
    font-size: 18px;
    color: #E5E7EB;
}

aside, button {
    background-color: #3882f6; 
}

h2 {
    font-size: 36px;
}

.quote {
    background-color: #e5e7eb;
}

blockquote {
    color: #1F2937;
    font-size: 36px;
    font-style: oblique 10deg;
}